<h1> 사용자 정보 입력창 </h1>
<form action = '/post/index'>
    <input name = 'name_1' type = 'text'></input>
    <input name = 'phone' type = 'text'></input>
    <input name = 'age' type ='text'></input>
    <input type = 'submit'></input>
</form>