<h1>새 글을 등록해 보아요!</h1>
<form action='/post/index'>
    <input name = 'post_title' type = 'text' placeholder = '제목'></input>
    <input name = 'post_content' type = 'text' palceholder = '내용'></input>
    <input type = 'submit'></input>
</form>